<div class="card">
    <div class="card-head">
      <img class="card-img-top" src="{{fruta.imagen}}" alt="Card image cap">
      <span class="calorias">{{fruta.calorias}} Kcal</span>
      <span *ngIf="fruta.oferta" class="descuento">
        <b>{{fruta.descuento}}</b>%
      </span>
    </div>
    <div class="card-body">
      <h5 class="card-title">
        {{fruta.nombre}}
      </h5>
      <p *ngIf="fruta.oferta" class="card-text"><del class="text-muted">{{fruta.precio}}&euro;</del> 
        <span class="oferta text-danger font-weight-bold"> {{(fruta.precio - (fruta.precio * fruta.descuento) / 100) | number:'1.2-2'}}&euro;</span>
      </p>
      <p *ngIf="!fruta.oferta" class="card-text">{{fruta.precio}}&euro;</p>
      <p class="card-text">Colores: {{fruta.colores}}</p>
      <button (click)="comprar(event)" class="btn btn-block btn-outline-primary">Comprar</button>
     </div>
  </div>