<div class="card">
    <div class="card-head">
      <img class="card-img-top" src="{{fruta.imagen}}" alt="imagen producto">
      <span class="calorias">{{fruta.calorias}} Kcal</span>
      <span *ngIf="fruta.oferta" class="descuento">
        <b>{{fruta.descuento}}</b>%
      </span>
    </div>
    <div class="card-body">
      <h5 class="card-title">
        {{fruta.nombre}}
      </h5>
      <p *ngIf="fruta.oferta" class="card-text"><del class="text-muted">{{fruta.precio}}&euro;</del> 
        <span class="oferta text-danger font-weight-bold"> {{(fruta.precio - (fruta.precio * fruta.descuento) / 100) | number:'1.2-2'}}&euro;</span>
      </p>
      <p *ngIf="!fruta.oferta" class="card-text">{{fruta.precio}}&euro;</p>
      <p class="card-text">Colores: {{fruta.colores}}</p>
      <button (click)="comprar()" class="btn btn-block btn-outline-primary">Comprar</button>
     </div>

     <div *ngIf="fruta2">
      <p> <b> Precio: </b><span class="{{fruta.precio-fruta2.precio>0 ? 'positivo':'negativo'}}">{{fruta.precio - fruta2.precio}}</span> €</p> 
      <p> <b> Calorias:</b><span class="{{fruta.precio-fruta2.precio>0 ? 'negativo':'positivo'}}">{{fruta.calorias - fruta2.calorias}}</span> Kcal </p>
     </div>
  </div>