<p>Ejemplo de crear un <b>Provider</b> o Service para realizar las operaciones de CRUD contra un <b>Servicio-Rest</b></p>

<!-- {{ tareas | json }} -->

<ul class="list-group">
    <li class="list-group-item" *ngFor="let tarea of tareas">{{tarea | json}}</li>    
</ul>

<hr>

<input (change)="filtrar()" type="checkbox" >{{textoFiltro}}
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="tareas">TODAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tareas">Pendientes</a>
      </li>           
      <div class=" col align-self-end row justify-content-end">
        <div class="col-4">
          <input type="text" [(ngModel)]="nueva" class="form-control" placeholder="Nombre tarea">
        </div>
        <div class="col-4">
          <button class="btn btn-outline-primary"  (click)=nuevaTarea() type="button" id="button-addon2">Crear Tarea</button>
        </div>              
      </div>                  
    </ul>
  </div>

  <!-- Listado de tareas-->
  <div class=" row card-body d-block" *ngFor="let tarea of tareas | completas: todas">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
            <input type="checkbox" checked="{{tarea.terminado ? 'checked':''}}" (change)="terminar(tarea)">
        </div>
      </div>
      <span *ngIf="!tarea.terminado" class=" form-control">{{tarea.titulo}}</span>
      <span *ngIf="tarea.terminado" class="form-control"><del>{{tarea.titulo}}</del></span>              
      <div class="input-group-append">
        <span class="input-group-text"><i (click)=eliminar(tarea.id) class="far fa-trash-alt text-danger" title="eliminar"></i>
        </span>
      </div>
     
    </div>
      
            
      
      
      
      
       
  </div>
  <!-- End listado de tareas -->   

</div>
   <!--End card  --> 