<h1>Formularios reactivos</h1>
<a href="https://angular.io/guide/reactive-forms" target="_blanck">Documentacion ofical</a>

<div class="row">
  {{simple | json}}
  
</div>
<hr>
  <label>
    Simple:
    <input type="text" [formControl]="simple">
  </label>

  <div *ngIf=" msg != '' " class="alert alert-primary" role="alert">
     {{msg}}
  </div>

  <h2>ForGroup para formulario Completo</h2>

  <div class="col"> 
    <div class="col">
        <button class="btn btn-outline-success" type="button" (click)="cargarFormulario()" title="Cargar campos ">Cargar campos formulario</button>    
    </div>
    <div class="col">
      <p>Valores: {{formulario.value | json}}</p>
      <p>Estado:{{formulario.status |json}}</p>
    </div>


    <div class="col">
      <!-- importante desactivar las validaciones en HTML5 -->
      <form [formGroup]="formulario" novalidate class="mt-4" (ngSubmit)="crear()">
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                  <input type="text" formControlName="nombre">
                  <small *ngIf="formulario.controls.nombre.invalid && formulario.controls.nombre.touched" class="form-text text-danger">Min 2 max 50 caracteres</small>
                  <small *ngIf="formulario.controls.nombre.valid"class="form-text text-success">Correcto</small>
    
                </div>
            </div> 
    
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Precio</label>
              <div class="col-sm-10">
                <input type="number" formControlName="precio" min="0.1" max="999" step="0.1">
                <small *ngIf="formulario.controls.precio.invalid"class="form-text text-danger">indica el precio</small>
              </div>
            </div> 
    
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Calorias</label>
                <div class="col-sm-10">
                  <input type="number" formControlName="calorias">
                </div>
            </div>
    
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Colores</label>
                <div class="col-sm-10">
                  <input type="text" formControlName="colores">
                </div>
            </div>
    
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Oferta</label>
                <div class="col-sm-10">
                  <input type="checkbox" formControlName="oferta">
                </div>
            </div>
            <div [hidden]="!formulario.controls.oferta.value">
              <div class="form-group row">              
                <label class="col-sm-2 col-form-label">Descuento</label>
                <div class="col-sm-10">
                  <input type="number" [readonly]="!formulario.controls.oferta.value" formControlName="descuento" step="5" min="5" max="90">
                  <small *ngIf="formulario.controls.descuento.invalid"class="form-text text-danger">Min 5% Max 90%</small>
                </div>
              </div>
             </div>
    
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Imagen</label>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{{formulario.controls.imagen.value}}" alt="imagen producto">
                    </div>
                    <div class="col-sm-6">
                      <input type="text" formControlName="imagen" placeholder="Url imagen, extensiones .jng p .jp(e)g" >

                    </div>
                </div>
                
                
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">cantidad</label>
                <div class="col-sm-10">
                  <input type="number" formControlName="cantidad">
                </div>
          </div>
            <input type="submit" value="Crear" class="btn btn-outline-dark" [disabled]="formulario.status==='INVALID'">
          
      </form>
  </div>
</div>