<h3 class="text-center" *ngIf="id == -1">Crear Fruta</h3>
<h3 class="text-center" *ngIf="id > 0">Modificar Fruta</h3>

<div *ngIf="alert != null" class="alert alert-success alert-dismissible fade show" role="alert">
   {{alert}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="formulario" novalidate class="mt-4" (ngSubmit)="agregar(id)">
    
         
      <div class="row form-group ">
        <div class="col-4">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control col-5" formControlName="nombre" placeholder="Min 2 max 50 caracteres">
            <small *ngIf="formulario.controls.nombre.invalid && formulario.controls.nombre.touched" class="form-text text-danger">Min 2 max 50 caracteres</small>
            <small *ngIf="formulario.controls.nombre.valid"class="form-text text-success">Correcto</small>
         </div>
        
        <div class="col-5"> 
            <label for="imagen">URL Imagen</label>             
            <input type="text" placeholder="Ej. https://sitioWeb/nombreimagen.jpg" formControlName="imagen" class="form-control" >
            <small *ngIf="formulario.controls.imagen.invalid && formulario.controls.imagen.touched" class="form-text text-danger">formato inadecuado .png, .jpg o .jpeg</small>
            <small *ngIf="formulario.controls.imagen.valid && formulario.controls.imagen.touched" class="form-text text-success">imagen correcta</small>
        </div>

        <div class="col-3 text-center">
            <label for="imagen">Imagen</label>            
          <img  class=" form-control col-3 border mx-auto tam-img img-thumbnail" src="{{formulario.controls.imagen.value}}" alt="imagen fruta"/>
        </div> 
      </div>      
    

    <div class="form-row">
        <div class="form-group col-4">
            <label for="precio">Precio</label>
            <input type="number" class="form-control col-4" formControlName="precio" min="0.1" max="999" step="0.1">
            <small *ngIf="formulario.controls.precio.invalid && formulario.controls.precio.touched" class="form-text text-danger">Min 2 max 50 caracteres</small>
            <small *ngIf="formulario.controls.precio.valid"class="form-text text-success">Correcto</small>
        </div>
        <div class="form-group col-5">
          <label for="calorias">Calorias</label>
          <input type="number" class="form-control col-5" formControlName="calorias">
      </div>
        <div class="form-group col-3">
            <label>cantidad</label>
            <input type="number" class="form-control col-3" formControlName="cantidad">
            <small *ngIf="formulario.controls.cantidad.invalid && formulario.controls.cantidad.touched" class="form-text text-danger">Min 1 y Max 999 unidades</small>
            <small *ngIf="formulario.controls.cantidad.valid && formulario.controls.cantidad.touched" class="form-text text-success">cantidad correcto</small>
        </div>
      </div>   
   
    <div class=" row form-group">
      <div class="col col-6">
          <label>Colores</label>
          <a class="ml-3 text-success" (click)="nuevoColor()"><i class="fas fa-plus-circle"></i></a>
          <div formArrayName="colores">
            <div *ngFor="let color of formulario.get('colores').controls; let i = index;">                                       
              <div [formGroupName]="i">
                <input formControlName="color" placeholder="ej. rosa">
                <a class="btn btn-outline-secondary btn-sm ml-3" (click)="eliminarColor(i)"><i class="far fa-trash-alt text-danger" title="eliminar"></i></a>
                <!-- <small *ngIf="formulario.get('colores').controls[i].invalid" class="form-text text-danger">Minimo 2 letras maximo 15</small> -->
              </div>                   
            </div>
          </div>
      </div>
      <div class="col-6">
        <div class="col col-2 form-check">
            <input class="form-check-input" type="checkbox" formControlName="oferta">
            <label class="form-check-label" for="gridCheck">Oferta</label>
          </div>
          <div class="col form-group">
            <div [hidden]="!formulario.controls.oferta.value">
              <div class="form-group row">              
                <label class="col-sm-2 col-form-label">Descuento</label>
                <div class="col-sm-10">
                  <input type="number" class="col-4" [readonly]="!formulario.controls.oferta.value" formControlName="descuento" step="5" min="5" max="90">
                  <small *ngIf="formulario.controls.descuento.invalid"class="form-text text-danger">Min 5% Max 90%</small>
                </div>
              </div>
            </div>
          </div>
      </div>  
    </div>

   
    <input type="submit" class="btn btn-outline-success btn-block text-dark" *ngIf="id < 0" value="Crear">
    <input type="submit" class="btn btn-outline-success btn-block text-dark" *ngIf="id > 0" value="Modificar">
  </form>