/* You can add global styles to this file, and also import other style files */
app-fruta, app-listado-clase,app-flujo-informacion{
    border:1px solid red;
    display: block;
    margin-bottom: 10px;
}
